<!-- compmodule begins -->
<style type="text/css">
    {{ css|raw }}
</style><!-- end of compmodule style -->
<div id="kz">
    {{ html|raw }}
</div><!-- end of compmodule raw html -->
<!-- compmodule ends -->